<header class="header">
    <nav class="nav-bar">
        <h1>Smart Training - Gerencia</h1>
        <ul class="nav-links">
            <li><a href="{% url 'dashboard_gerente' %}">Aprobaciones</a></li>
            <li><a href="{% url 'gestionar_productos' %}">Tienda</a></li>
            <li><a href="{% url 'gestionar_planes' %}">Planes</a></li>
            <li><a href="{% url 'inicio' %}">Ver Sitio</a></li>
            <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
        </ul>
    </nav>
</header>
